<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Pics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Information About Shashank Pandey">
    <meta name="keywords" content="shashank pandey,Shashank Pandey,Who is shashank pandey?">
    <meta name="author" content="Shashank Pandey">
    <link rel="shortcut icon" href="/images/shashank.png">
    <link rel="stylesheet" href="/css/update.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <a href="/crud">back to view data page</a>
    <div class="box box2">
      <h1>Hey Shashank wanna Update these data ? GO ON.</h1>
    {{#each ppics}}
  <img src="{{picurl}}" alt="">
  <p>{{pic}},{{picurl}}</p>
  <a href="/deletepp/{{this.id}}">delete pic</a>
  <a href="/updatepp/{{this.id}}">update pic</a><br>
    {{/each}}
    </div>
  </body>
</html>
